<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phicomm.doctor.dataaccess.dao.HospitalMapper">
  <resultMap id="BaseResultMap" type="com.phicomm.doctor.dataaccess.domain.Hospital">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="logo_img_url" jdbcType="VARCHAR" property="logoImgUrl" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="area" jdbcType="INTEGER" property="area" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="scale" jdbcType="INTEGER" property="scale" />
    <result column="tag" jdbcType="VARCHAR" property="tag" />
    <result column="business_licence_url" jdbcType="VARCHAR" property="businessLicenceUrl" />
    <result column="audit_status" jdbcType="INTEGER" property="auditStatus" />
    <result column="complete_status" jdbcType="INTEGER" property="completeStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="profile" jdbcType="LONGVARCHAR" property="profile" />
    <result column="image_url" jdbcType="LONGVARCHAR" property="imageUrl" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id, openid, `name`, logo_img_url, address, province, city, area, phone, scale, tag, business_licence_url, 
    audit_status, complete_status, create_time, update_time, profile, image_url
  </sql>
  
  <insert id="bindPhone" parameterType="com.phicomm.doctor.dataaccess.domain.Hospital">
  	insert into hospital(openid, phone, name, logo_img_url, create_time, update_time)
  	values(#{openid,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{logoImgUrl,jdbcType=VARCHAR}, now(), now())
  </insert>
  
  <select id="getByOpenid" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hospital
    where openid = #{openid,jdbcType=VARCHAR}
  </select>
  
  <update id="completeInfo" parameterType="com.phicomm.doctor.dataaccess.domain.Hospital">
    update hospital
    set 
      `name` = #{name,jdbcType=VARCHAR},
      logo_img_url = #{logoImgUrl,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      area = #{area,jdbcType=INTEGER},
      scale = #{scale,jdbcType=INTEGER},
      tag = #{tag,jdbcType=VARCHAR},
      profile = #{profile,jdbcType=VARCHAR},
      image_url = #{imageUrl,jdbcType=VARCHAR},
      business_licence_url = #{businessLicenceUrl,jdbcType=VARCHAR},
      complete_status = 1,
      update_time = now()
    where openid = #{openid,jdbcType=VARCHAR}
  </update>
  
  <!-- <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from hospital
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.phicomm.doctor.dataaccess.domain.Hospital">
    
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
   
    insert into hospital (id, openid, name, 
      logo_img_url, address, province, 
      city, phone, scale, 
      tag, business_licence_url, audit_status, 
      complete_status, create_time, update_time, 
      good_field, profile, image_url, 
      works)
    values (#{id,jdbcType=INTEGER}, #{openid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{logoImgUrl,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{scale,jdbcType=INTEGER}, 
      #{tag,jdbcType=VARCHAR}, #{businessLicenceUrl,jdbcType=VARCHAR}, #{auditStatus,jdbcType=INTEGER}, 
      #{completeStatus,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{goodField,jdbcType=LONGVARCHAR}, #{profile,jdbcType=LONGVARCHAR}, #{imageUrl,jdbcType=LONGVARCHAR}, 
      #{works,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.phicomm.doctor.dataaccess.domain.Hospital">
    
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
   
    insert into hospital
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="openid != null">
        openid,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="logoImgUrl != null">
        logo_img_url,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="scale != null">
        scale,
      </if>
      <if test="tag != null">
        tag,
      </if>
      <if test="businessLicenceUrl != null">
        business_licence_url,
      </if>
      <if test="auditStatus != null">
        audit_status,
      </if>
      <if test="completeStatus != null">
        complete_status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="goodField != null">
        good_field,
      </if>
      <if test="profile != null">
        profile,
      </if>
      <if test="imageUrl != null">
        image_url,
      </if>
      <if test="works != null">
        works,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="logoImgUrl != null">
        #{logoImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="scale != null">
        #{scale,jdbcType=INTEGER},
      </if>
      <if test="tag != null">
        #{tag,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenceUrl != null">
        #{businessLicenceUrl,jdbcType=VARCHAR},
      </if>
      <if test="auditStatus != null">
        #{auditStatus,jdbcType=INTEGER},
      </if>
      <if test="completeStatus != null">
        #{completeStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="goodField != null">
        #{goodField,jdbcType=LONGVARCHAR},
      </if>
      <if test="profile != null">
        #{profile,jdbcType=LONGVARCHAR},
      </if>
      <if test="imageUrl != null">
        #{imageUrl,jdbcType=LONGVARCHAR},
      </if>
      <if test="works != null">
        #{works,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.phicomm.doctor.dataaccess.domain.Hospital">
    
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
   
    update hospital
    <set>
      <if test="openid != null">
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="logoImgUrl != null">
        logo_img_url = #{logoImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="scale != null">
        scale = #{scale,jdbcType=INTEGER},
      </if>
      <if test="tag != null">
        tag = #{tag,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenceUrl != null">
        business_licence_url = #{businessLicenceUrl,jdbcType=VARCHAR},
      </if>
      <if test="auditStatus != null">
        audit_status = #{auditStatus,jdbcType=INTEGER},
      </if>
      <if test="completeStatus != null">
        complete_status = #{completeStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="goodField != null">
        good_field = #{goodField,jdbcType=LONGVARCHAR},
      </if>
      <if test="profile != null">
        profile = #{profile,jdbcType=LONGVARCHAR},
      </if>
      <if test="imageUrl != null">
        image_url = #{imageUrl,jdbcType=LONGVARCHAR},
      </if>
      <if test="works != null">
        works = #{works,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.phicomm.doctor.dataaccess.domain.Hospital">
    
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
   
    update hospital
    set openid = #{openid,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      logo_img_url = #{logoImgUrl,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      scale = #{scale,jdbcType=INTEGER},
      tag = #{tag,jdbcType=VARCHAR},
      business_licence_url = #{businessLicenceUrl,jdbcType=VARCHAR},
      audit_status = #{auditStatus,jdbcType=INTEGER},
      complete_status = #{completeStatus,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      good_field = #{goodField,jdbcType=LONGVARCHAR},
      profile = #{profile,jdbcType=LONGVARCHAR},
      image_url = #{imageUrl,jdbcType=LONGVARCHAR},
      works = #{works,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.phicomm.doctor.dataaccess.domain.Hospital">
    
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
   
    update hospital
    set openid = #{openid,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      logo_img_url = #{logoImgUrl,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      scale = #{scale,jdbcType=INTEGER},
      tag = #{tag,jdbcType=VARCHAR},
      business_licence_url = #{businessLicenceUrl,jdbcType=VARCHAR},
      audit_status = #{auditStatus,jdbcType=INTEGER},
      complete_status = #{completeStatus,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update> -->
</mapper>